
@mixin fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin m-transform($i){
	-webkit-transform: $i;
	-moz-transform: $i;
	-ms-transform: $i;
	-o-transform: $i;
	transform: $i;
}

@mixin m-prefix($a, $b, $c:0){
	$d: $b;
	@if $c != 0 {
		$d: #{$b},#{$c};
	};
	-webkit-#{$a}: $d;
	-moz-#{$a}: $d;
	-ms-#{$a}: $d;
	-o-#{$a}: $d;
	#{$a}: $d;
}



html {
	font-size: 16px;
	@media(max-width: 600px){
		font-size: 14px;
	}
}

.container {
	margin: 0;
	padding: 0;
	@include fullscreen;
	#root {
	    background: black;
	    width: 100%;
	    height: 100%;
    	.loader {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		width: 35px;
    		height: 35px;
    		transform: translate(-50%, -50%);
    		opacity: 0;
		    @include m-prefix(animation, opacity-in 0.75s 1s linear 1 normal forwards running);
    		hr {
    			@include fullscreen;
			    border: none;
			    margin: 0;
    			&:before {
	    			content: "";
	    			width: 7px;
	    			height: 7px;
	    			border-radius: 100px;
	    			top: 0;
	    			left: 0;
	    			position: absolute;
	    			background: white;
				    @include m-prefix(animation,loading 800ms infinite);
	    		}
				    @for $i from 1 through 12 {
				    	$spin: 360deg / 12 * $i;
				    	$delay: 0.75s / 12 * $i;
				    	&:nth-child(#{$i}){
				    		transform: rotateZ($spin);
				    		&:before {
					    		animation-delay: $delay;
					    	}
				    	}
				    }
    		}
    	}
    	.root-inner {
    		display: none;
    	}
	    .root-inner.loaded {
	    	display: block;
			.app {
			    @include fullscreen;
			    height: auto;
				    max-height: 200%;
				    min-height: 100%;
			    overflow: hidden;
			    @include  m-transform(translateX(-50%));
				&:not(.active){
				    position: absolute;
				    width: 35px;
				    // height: 0%;
					    max-height: 0%;
					    min-height: 0%;
				    top: 50px;
				    padding-top: 35px;
				    overflow: visible;
				    cursor: pointer;
				    transition: 0s 0.6s;
				    @include m-prefix(animation, change-z-index 0.75s 0s linear 1 normal forwards running);
				    border-radius: 200px;
			    	z-index: 2;
			    	box-shadow: 0 0 5px #ccc;
			    	font-size: 1em;
				    i {
				    	content: "";
						position: absolute;
						left: 50%;
						top: 0%;
						width: 60px;
						height: 80px;
						transform: translate(-50%, 0);
						font-style: normal;
						z-index: 1;
				    	&:before {
						    font-size: 0.875em;
						    color: black;
				    		font-family: lineAwesome;
				    		position: absolute;
							top: calc(50% - 22.5px);
				    		left: 50%;
						    @include  m-transform(translate(-50%, -50%)rotateY(0deg));
				    	}

				    	&:hover { 
					    	&:before {
							    // font-size: 1.25em;
							    @include m-prefix(animation, 0.75s menuRotate linear 0s infinite);
					    	}
					    }
				    }

					.text-section {
						padding-top: 20px;
					}
				    h1, h2, h3, h4, h5, p, img, .button {
				    	display: none;
				    	&.header {
				    		display: block;
						    font-size: 15px;
						    text-transform: none;
						    position: absolute;
						    left: 50%;
						    @include  m-transform(translateX(-50%));
						    @include m-prefix(animation, 1s page-header-exit 0s linear);
				    	}
				    }
				    .skill {
				    	display: none;
				    }
				    &:hover {
				    	.header {
				    		font-size: 16px;
				    		font-weight: bold;
				    	}
				    }
					.works {
						opacity: 0;
					}
				}
				&.active {
					z-index: 1;
					cursor: default;
				    width: 100%;
				    // height: 100%;
				    top: 0;
				    border-radius: 0px;
				    left: 50%;
				    transition: 0.5s;
				    font-size: 0;
					    min-height: 100%;
				    padding: 0 20px;
				    box-sizing: border-box;
					.text-section {
						padding-top: 140px!important;
					    padding-bottom: 35px!important;
					    max-width: 1180px;
					    margin: 0 auto;
					    transform: none;
					    top: 0!important;
					}
				    h1, h2, h3, h4, h5, p {
				    	&.header {
				    		opacity: 0;
				    		font-size: 16px;
						    @include m-prefix(animation, 0.5s header-grow 0.25s forwards);
						    @media(max-width:500px){
							    line-height: 4.25em;
							    margin-bottom: 20px;
						    }
				    	}
				    }
				    @media(max-width:500px){
					    h2 {
					    	span {
						    	opacity: 0;
							    @include m-prefix(animation, opacity-in 0.5s forwards);
							}
					    }
					}
				}
			    &.page-0 {  
			    	background: black;
				    &:not(.active){
				    	left: 50%;

					    top: 0;
					    border-radius: 0 0 200px 200px;
					    width: 10%; 
					    width: 130px;
					    overflow: hidden;
						box-shadow: 0px 0px 3px #555;

					    i {
						    width: 130px;
						    height: 35px;
					    	&:before {
					    		// Home
					    		content: "";
							    left: 50%;
							    z-index: 1;
							    top: 50%;
						    }
						}
					    .text-wrapper {
					    	display: none;
					    }
				    }  
				    &.active {
						h2 {
							&:not(.header){
								margin-bottom: 0;
							}
						}
						.text-wrapper {
							position: relative;
						}
						.paragraph {
							opacity: 0;
						    @include m-prefix(animation, 0.75s opacity-in 1.5s forwards);
						}
				    }
			    	&:after {
			    		content: "";
			    		z-index: -1;
				    	position: absolute;
				    	top: 50%;
				    	left: 50%;
				    	width: 150%;
				    	height: 150%;
					    @include  m-transform(translate(-50%, -50%));
						border-radius: 1000000px;
					    @include m-prefix(animation, page-0 15s ease infinite, page-0-in 1s ease 1);
					    background: linear-gradient(301deg, #feffcb, #dcd0ff, #ffd2d2, #d2ffd2);
						background-size: 1500%;
				    }
				}
				&.page-1 { 
				    background: khaki;
				    &:not(.active){
					    left: calc(50% - 60px);
					    i {
						    &:before {
						    	// Code
					    		content: "";
					    		// Notepad
					    		content: "";
						    }
						}
				    }
				    &.active {
						.text-section {
							top: 55%;
							.text-wrapper {
							    max-width: 600px;
							    margin: 0 auto;
								.experience {
								    margin: 20px auto 0;
								    vertical-align: top;
								    font-size: 0;
								    @include m-prefix(animation, 0.75s opacity-in 1.5s forwards);
								    opacity: 0;
								    &:nth-of-type(2){
									    @include m-prefix(animation, 0.75s opacity-in 1.6s forwards);
								    }
								    &:nth-of-type(3){
									    @include m-prefix(animation, 0.75s opacity-in 1.7s forwards);
								    }
								    &:nth-of-type(4){
									    @include m-prefix(animation, 0.75s opacity-in 1.8s forwards);
								    }
								    &.one-col {
									    width: 50%;
									    display: inline-block;
									    .left-section {
									    	width: 100%;
									    }
								    }
								    .left-section,.right-section {
									    display: inline-block;
									    vertical-align: top;
									    @media(max-width:500px){
								    	    width: 100%!important;
										    margin-bottom: 10px;
								    	    p {
								    	    	text-align: center;
								    	    }
									    }
									    p {
										    width: 100%;
										    margin: 0;
										    &.date{
										    	color: grey;
										    }
										    &.position{
										    	font-weight: bold;
										    }
										    &.message {
										    	font-size: 1rem;
										    }
									    }
								    }
								    .left-section {
							    	    width: 33%;
								    }
								    .right-section {
							    	    width: 67%;
								    }
								}
							}
						}
				    }
				}
				&.page-2 { 
				    background: antiquewhite;
				    &:not(.active){
					    left: 50%;
					    i {
						    &:before {
						    	// Star
					    		content: "";
						    }
						}
				    }
				    &.active {
						.text-section {
							top: 45%;
							max-width: 1180px;
							margin: 0 auto;
						    .skill {
						    	opacity: 0;
							    @include m-prefix(animation, 0.5s opacity-in 1.5s forwards);
							    font-size: 0px;
							    transition: 1s;
							    width: 33%;
							    display: inline-block;
							    @media(max-width:750px){
							    	width: 50%;
							    }
							    @media(max-width:500px){
							    	width: 100%;
							    }
							    .text-center {
							    	span {
							    		animation-delay: 0s!important;
							    	}
							    }
							    p {
							    	margin: 0;
							    	width: 50%;
							    }
							    .stars {
							    	width: 25%;
								    display: inline-block;
								    .star {
								    	opacity: 0;
									    @include m-prefix(animation, 0.5s opacity-in 2s forwards);
							    		font-family: lineAwesome;
									    display: inline;    
									    text-shadow: 0px 0px 1px #666;
									    color: #ffed8e;
							    		&:after {
						    			    content: "\f318";
							    		}
							    		&.inactive {
							    			&:after {
							    				opacity: 0.3;
							    			}
							    		}
									    &:nth-child(2){
										    @include m-prefix(animation, 0.5s opacity-in 2.1s forwards);
										    // color: #fff6c3;
									    }
									    &:nth-child(3){
										    @include m-prefix(animation, 0.5s opacity-in 2.2s forwards);
										    // color: #ffed8e;
									    }
									    &:nth-child(4){
										    @include m-prefix(animation, 0.5s opacity-in 2.3s forwards);
										    // color: #ffe55e;
									    }
									    &:nth-child(5){
										    @include m-prefix(animation, 0.5s opacity-in 2.4s forwards);
										    // color: gold;
									    }
								    }
								}
						    }
						}
					}
				}
				&.page-3 { 
				    background: aliceblue;
				    &:not(.active){
					    left: calc(50% + 60px);
					    i {
						    &:before {
						    	// Screen
					    		content: "";
						    }
						}
				    }
				    &.active {
						.text-section {
							top: 60%;
						}
						.works {
							font-size: 1rem;
							opacity: 0;
						    @include m-prefix(animation, 1s opacity-in 1.7s forwards);
						    margin: 24px auto;
						    box-shadow: 0px 0px 39px #dbecfd;
						    .works-inner {
							    max-width: 1220px;
							    margin: 0 auto;
							    padding: 30px 0;
								// @media(max-height: 700px){
								//     max-width: 1100px;
								// }
								// @media(max-height: 650px){
								//     max-width: 1000px;
								// }
								// @media(max-height: 625px){
								//     max-width: 900px;
								// }
								// @media(max-height: 600px){
								//     max-width: 800px;
								// }
								// @media(max-height: 575px){
								//     max-width: 700px;
								// }
								// @media(max-height: 550px){
								//     max-width: 600px;
								// }
								.work {
								    display: inline-block;
								    width: 20%;
								    margin: 1% 1% 1%;
								    cursor: pointer;
								    position: relative;
								    @media(max-width:700px){
								    	width: 40%;
								    }
								    .front {
								    	transition: 0.5s;
									    backface-visibility: hidden;
										-webkit-backface-visibility: hidden;
									    border: 10px solid white;
									    border-radius: 6px;
									    box-sizing: border-box;
									    box-shadow: 0px 0px 39px #dbecfd;
									    @include  m-transform(rotateY(0deg));
										.image {
									        width: 100%;
											max-height: 110px;
										    padding-top: 0;
										    z-index: 1000;
										    display: inline-block;
										    background-size: cover;
										    background-repeat: no-repeat;
										    background-position: 50%;
										}
									}
									.back {
								    	transition: 0.5s;
									    backface-visibility: hidden;
										-webkit-backface-visibility: hidden;
									    border: 10px solid white;
									    border-radius: 6px;
									    box-sizing: border-box;
									    box-shadow: 0px 0px 39px #dbecfd;
									    @include  m-transform(rotateY(-180deg));
									    position: absolute;
									    width: 100%;
									    height: 100%;
									    top: 0;
									    left: 0;
									    background: white;
									    .back-inner {
								    	    top: 50%;
										    position: absolute;
										    @include  m-transform(translateY(-50%));
										    width: 100%;
									    }
									    .name,.description {
											margin: 0;
											color: black;
									    }
									}
									&:hover {
										.front {
										    @include  m-transform(rotateY(180deg));
										}
										.back {
										    @include  m-transform(rotateY(0deg));
										}
									}
								}
						    }
						}
				    }
				}
				.text-section {
				    box-sizing: border-box;
				    text-align: center;
				    position: relative;
				    top: 40%;
				    @include  m-transform(translateY(-50%));
				}
				a,p,h1,h2,h3,h4,h5,input {
					font-weight: 100;
				    font-family: 'Economica', sans-serif;
				}
			    .button {
			    	display: inline-block;
				    padding: 4px 10px 4px 30px;
				    font-family: 'Economica', sans-serif;
				    font-size: 1rem;
				    text-transform: uppercase;
				    box-sizing: border-box;
				    cursor: pointer;
				    @include m-prefix(animation, partAppear 800ms);
				    animation-fill-mode: forwards;
				    animation-timing-function: linear;
				    animation-iteration-count: 1;
				    opacity: 0;
				    box-shadow: 2px 2px 6px #afafaf;
				    position: absolute;
				    bottom: -75px;
				    overflow: hidden;
					border-bottom: 4px solid #5a5a5a;
				    border-radius: 8px;
				    font-weight: bold;
				    background: black;
				    max-width: 0%;
				    max-height: 0%;
				    color: white;
				    width: 130px;
				    text-decoration: none;
				    left: auto;
				    right: calc(50% + 5px);
				    &:after {
				    	font-family: lineAwesome;
				    	content: "";
				    	font-size: 1.25rem;
					    font-weight: normal;
					    position: absolute;
					    left: 20px;
					    top: 50%;
					    @include  m-transform(translateY(-50%));
				    }
				    &+ .button {
				    	left: calc(50% + 5px);
				    	right: auto;
					    padding: 4px 30px 4px 10px;
				    	&:after {
				    		content: "";
				    		left: auto;
				    		right: 20px;
				    	}
				    }
				    span {
						position: relative;
					    line-height: 2rem;
					    @include m-prefix(animation, jumpButton 2s);
					    animation-fill-mode:forwards;
						animation-timing-function:linear;
						animation-iteration-count: infinite;
						opacity: 0;
				    }
				    &:before {
					    content: " ";
					    height: 200%;
					    width: 1px;
					    background: white;
					    position: absolute;
					    top: -50%;
					    left: -50%;
					    @include  m-transform(rotatez(45deg));
					    box-shadow: 3px 3px 3px 3px white;
					    @include m-prefix(animation, swipeButton 2s);
					    animation-fill-mode:forwards;
						animation-timing-function:linear;
						animation-iteration-count: infinite;
				    }
				    &:hover {
			    	    border-bottom: 3px solid #5a5a5a;
					    margin-top: 1px;
				    }
			    }
			    h2 {
				    margin: 0;    
				    font-size: 2.9375rem;
				    color: #2b2b2b;
				    &:not(.header){
			    	    font-family: 'Dosis', serif;    
			    	    font-size: 1.625rem;
					    margin-bottom: 40px;
				    }
					&.header {
					    text-transform: uppercase;
					    color: black;
					    white-space: nowrap;
					    span {
						    &:hover {
						    	font-weight: bold;
						    }
						}
					}
				    span {
				    	position: relative;
					    display: inline-block;
					    min-width: 0.25em;
				    	opacity: 0;
					    letter-spacing: 0.05rem;
					    @include m-prefix(animation, jumpText 250ms);
					    animation-fill-mode:forwards;
						animation-timing-function:linear;
						animation-iteration-count: 1;
						opacity: 1;
					    @include  m-transform(rotateY(-90deg));
					    @media(max-width:500px){
						    display: inline;
						    white-space: initial;
					    }
					}
			    }
			    p {
				    span {
				    	position: relative;
					    display: inline;
					    min-width: 0.25em;
				    	opacity: 0;
					    letter-spacing: 0.05rem;
					    @include m-prefix(animation, jumpText 250ms);
					    animation-fill-mode:forwards;
						animation-timing-function:linear;
						animation-iteration-count: 1;

						opacity: 1;
					    @include  m-transform(rotateY(-90deg));
					}
					&.paragraph {
					    text-align: center;
					    width: 35%;
					}
				    margin-top: 30px;
				    font-size: 1.125rem;
				    color: #333;
				    font-family: 'Dosis', serif;
				    width: 26%;
				    display: inline-block;
				    text-align: left;
				    line-height: 1.5em;
				    letter-spacing: 0.5px;
				    margin-right: 1%;
				    vertical-align: top;
				    // border-right: 1px solid black;
				    padding-right: 1.5%;
				    margin-left: 1%;
				    white-space: normal;
				    &:last-of-type{
				    	border-right: 0;
				    }
			    }
				@for $i from 1 through 999 {
					.delay-#{$i} {
						animation-delay: #{$i/40}s!important;
					}
				}
			}
		}
	}
}

@keyframes loading {
	0% {
		width: 0px;
		height: 0px;
	}
	5% {
		width: 0px;
		height: 0px;
	}
	70% {
		width: 7px;
		height: 7px;
	}
	100% {
		width: 7px;
		height: 7px;
	}
}

@keyframes opacity-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes page-header-exit {
	0% {
	    font-size: 0px;
	}
	88% {
	    font-size: 0px;
	}
	89% {
	}
	100% {
	}
}

@keyframes change-z-index {
	0% {
		z-index: 0;
	}
	99% {
		z-index: 0;
	}
	100% {
		z-index: 2;
	}
}


@keyframes header-grow {
	0% {
		opacity: 0;
	    font-size: 15px;
	}
	100% {
		opacity: 1;
	    font-size: 5.625rem;
	}
}

@keyframes page-0-in {
	0% {
		width: 0;
		height: 0;
	}
	30% {
		width: 0;
		height: 0%;
	}
	100% {
		width: 150%;
		height: 150%;
	}
}

@keyframes page-0 {
	0%{
    	background-position:0% 31%
    }
    50%{
    	background-position:100% 70%
	}
    100%{
    	background-position:0% 31%
    }
}

@keyframes jumpText {
	0% {
		// opacity: 0;
	}
	69% {
	}
	100% {
		// opacity: 1;
	    @include  m-transform(rotateY(0));
	}
}

@keyframes jumpButton {
	0% {
		top: 0;
		opacity: 1;
	}
	5% {
		top: -3px;
	}
	10% {
		top: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes swipeButton {
	0% {

	}
	25% {
		left: 150%;
	}
	100% {
		left: 150%;
	}
}


@keyframes display-before {
	0% {
		display: none;
	}
	99% {
		display: none;
	}
	100% {
		display: block;
	}
}

@keyframes partAppear {
	0% {
	    opacity: 0;
	    padding: 15px 0 15px;
	}
	20% {
	    opacity: 1;
	    max-width: 0%;
	    max-height: 0%;
	    padding: 15px 30px 15px;
	}
	30% {
	    opacity: 1;
	    max-width: 100%;
	    max-height: 0%;
	}
	40% {
	    opacity: 1;
	    max-height: 0%;
	    max-width: 100%;
	}
	100% {
	    opacity: 1;
	    max-width: 100%;
	    max-height: 100%;
	}
}

@keyframes menuRotate {
	0% {
	    @include  m-transform(translate(-50%, -50%)rotateY(0deg));
	}
	100% {
	    @include  m-transform(translate(-50%, -50%)rotateY(-360deg));
	}
}

