<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patrick Manville | Web Developer</title>
	<link rel="icon" href="/assets/images/icon.png" type="image/x-icon" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRA">
	<!-- <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Arvo|Barlow+Condensed|Cabin+Condensed|Crimson+Text|Dosis|EB+Garamond|Economica|Exo+2|Gudea|Inconsolata|Lato:300,400|Montserrat:300,400|Old+Standard+TT|Patua+One|Pontano+Sans|Rozha+One|Vidaloka|Vollkorn" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Dosis|Economica" rel="stylesheet">
	<link rel="stylesheet" href="/style.css" media="screen">
	<link rel="stylesheet" href="//maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
</head>
<body class="container">