<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Patrick Manville | Web Developer</title>
	<link rel="icon" href="/assets/images/icon.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Dosis|Economica" rel="stylesheet">
	<link rel="stylesheet" href="/style.css" media="screen">
	<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
</head>
<body class="container">