<script type="text/javascript">
	window.initialData = <%- JSON.stringify(initialData) -%>
</script>

<%- include('header')-%>
	<div id='root'>
		<%- initialMarkup -%>
		<p class="loader-title">Loading...</p>
		<div class="loader">
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
		</div>
	</div>
<%- include('footer') -%>